.social-nudge-1,
.social-nudge-2,
.social-nudge-3,
.social-nudge-4,
.social-nudge-5 {
  animation-name: nudge-social;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.social-nudge-1 {
  animation-delay: 0.1s;
}

.social-nudge-2 {
  animation-delay: 0.3s;
}

.social-nudge-3 {
  animation-delay: 0.5s;
}

.social-nudge-4 {
  animation-delay: 0.7s;
}

.social-nudge-5 {
  animation-delay: 0.9s;
}

@keyframes nudge-social {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(-15%);
  }

  10% {
    transform: translateY(0);
  }
}